<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>News Test</title>

  <!-- TODO: Add your spreadsheet RSS feed URL and uncomment the following lines -->
  <!-- <link rel="alternate" type="application/rss+xml" title="TITLE" href="" /> -->

  <link rel="stylesheet" href="css/text.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" charset="utf-8" />
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="js/underscore-min.js"></script>
  <script type="text/javascript" src="js/gooss.js"></script>
  
</head>
<body>
  <!-- TODO: Change this title (remember to change the <title> tag as well) -->
  <h1>News Test</h1>

  <div id="loading"><p>Loading...</p></div>

  <!-- TODO: Replace the contents of this script tag with your template -->
  <script type="text/html">
    <script type="text/html" id="user_tmpl">
      <% _.each(newsToday, function(news) { %>

      <h2 class="grid_12"><a href="expand.html"><%- news.title %></a></h2>
      <div class="grid_4 info">
        <p class="dates">
          <%- news.date %> 
        </p>
        <p class="notes"><%- news.summary %></p>

        <div class="grid_2 alpha">
          <h3>Location</h3>
          
		  <p class="notes"><%- news.loc %></p>
        </div>
        <div class="grid_2 omega">
          <h3>Reporter</h3>
		  <p class="notes"><%- news.repo %></p>
        </div>
      </div>
      <div class="grid_8 contents">
        <p class="notes"><%- news.full %></p>
      </div>
      <div class="clearfix"></div>
      <% }); %>
    </script>
  </script>

  <div id="footer">
    <p>
      Powered by <a href="https://mishra-tapas.github.io/">TKM</a>
    </p>
  </div>
  <script type="text/javascript">
    // TODO: Change this to the URL of your spreadsheet.
    var url = "https://docs.google.com/spreadsheets/d/1HWGBoRhHpRXozZzZ6XPN9tDWdI6a-hXE7ErAfuM4M24/edit?usp=sharing";

    // DOMContentLoaded is not available IE < 9. Use a different load method
    // if you wish to target lower IE versions.
    //document.addEventListener("DOMContentLoaded", function() {
      // TODO: Change "sheet_name" to the name you want to use
      gooss.data({ newsToday: {url: url, index: 0} }, function(err, data) {
        if (err) {
          document.getElementById("loading").innerHTML = "Error: " + err;
          return;
        }
        gooss.template(data);
        document.getElementById("loading").style.display = "none";
      });
    //}, false);
  </script>
  
</body>
</html>
